:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #e9e2e2;
  
  
}

.form-control{
  border-radius: 25px;
  max-width: 320px;
}



.form-signin {
  width: 100%;
  max-width: 720px;
  padding: 15px;
  margin: 0 auto;
  z-index: 5;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
  
}

.login-button {
  position: absolute;
  right: 120px;
  top: 50%;
  background: #ffffff;
  color: #999999;
  padding: 4px 0;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  border: 5px solid #efefef;
  border-radius: 50%;
  transition: all ease-in-out 500ms;
}
.login-button:hover {
  color: #555555;
  transform: rotate(450deg);
}
.login-button.clicked {
  color: #555555;
}
.login-button.clicked:hover {
  transform: none;
}
.login-button.clicked.success {
  color: #2ecc71;
}
.login-button.clicked.error {
  color: #e74c3c;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

* {
  margin: 0;
  padding: 0;
}

@media (max-width: 960px) {
  body {
    zoom: 0.7;
  }
}

html,
body {
  height: 100%;
}

@-webkit-keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  to {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@keyframes bounce {
  from {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }

  to {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
}

@-webkit-keyframes sway {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  to {
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px);
  }
}

@keyframes sway {
  from {
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  to {
    -webkit-transform: translateX(-12px);
    transform: translateX(-12px);
  }
}


body {
  min-height: 100%;
  background: -webkit-linear-gradient(top, #152c3e, #37618a);
  position: relative;
}

body #mountains {
  z-index: 2;
  position: absolute;
  bottom: 20%;
  margin-bottom: -16px;
  left: 10%;
}

body #cloud1 {
  z-index: 2;
  position: absolute;
  top: 20%;
  right: 4%;
  -webkit-animation: bounce 2s ease-in-out 0s infinite alternate;
  animation: bounce 1s ease-in-out 0s infinite alternate;
}

body #cloud2 {
  z-index: 1;
  position: absolute;
  top: 22%;
  right: 16%;
  -webkit-animation: bounce 3.5s ease-in-out 2s infinite alternate;
  animation: bounce 2.5s ease-in-out 2s infinite alternate;
}

body #cloud3 {
  z-index: 1;
  position: absolute;
  top: 10%;
  right: 28%;
  -webkit-animation: bounce 3.5s ease-in-out2s infinite alternate;
  animation: bounce 1.5s ease-in-out 2s infinite alternate;
}

body #cloud4 {
  z-index: 1;
  position: absolute;
  top: 14%;
  right: 84%;
  -webkit-animation: bounce 3.5s ease-in-out2s infinite alternate;
  animation: bounce 1.5s ease-in-out 2s infinite alternate;
}

body .trees {
  width: 100%;
  height: 130px;
  z-index: 4;
  position: absolute;
  bottom: 20%;
  margin-bottom: -100px;
}

body #ground {
  z-index: 1;
  width: 100%;
  height: 20%;
  position: absolute;
  bottom: 0;
  background: #879759;
}

body #hills {
  position: absolute;
  left: 10%;
  margin-left: -120px;
  margin-bottom: -86px;
  bottom: 20%;
  z-index: 3;
}

body #stars {
  width: 100%;
  height: 100%;
}

